{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}

	{% comment %} <!-- Title page -->
	<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
		<h2 class="ltext-105 cl0 txt-center" style="color:black ;">
			Contact
		</h2>
	</section>	 {% endcomment %}


	<!-- Content page -->
	<section class="bg0 p-t-104 p-b-116">
		<div class="container">
			<div class="flex-w flex-tr">
				<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
					{% block content1 %}
					
					{% endblock content1 %}
				
					
					
					</div>
				</div>
			</div>
		</div>
	</section>	
	
	
	
	{% endblock content %}

